:host {
    display: block;
}

/* SECTION */

.contact-section {
    background: #f8f6f1;
    padding: 70px 8%;
    font-family: "Georgia", serif;
}

/* TOP TITLE */

.section-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    margin-bottom: 70px;

    color: #b79b5d;
    letter-spacing: 6px;
    font-size: 12px;
}

.line {
    flex: 1;
    max-width: 250px;
    height: 1px;
    background: #d8c78e;
}

/* TWO COLUMN LAYOUT */

.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

/* LEFT SIDE */

.contact-info {
    width: 45%;
}

.contact-info h2 {
    font-size: 50px;
    color: #111;
    margin-bottom: 40px;
    font-weight: 600;
}

/* INFO BLOCKS */

.info-item {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    margin-bottom: 35px;
}

.icon-box {
    width: 42px;
    height: 42px;

    border: 1px solid #d8c78e;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #b79b5d;
    font-size: 18px;

    flex-shrink: 0;
}

.label {
    color: #b79b5d;
    font-size: 12px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.info-item p {
    margin: 4px 0;
    color: #6e5d43;
    font-size: 20px;
    line-height: 1.8;
}

/* RIGHT SIDE */

.enquiry-form {
    width: 50%;
}

.enquiry-form h2 {
    font-size: 50px;
    color: #111;
    margin-bottom: 35px;
    font-weight: 600;
}

/* INPUTS */

.enquiry-form input {
    width: 100%;
    height: 54px;

    margin-bottom: 14px;

    border: 1px solid #e3e3e3;
    border-radius: 7px;

    padding: 0 18px;

    font-size: 17px;

    background: #fff;

    box-sizing: border-box;
}

.enquiry-form input::placeholder {
    color: #b9a98a;
}

/* BUTTON */

.enquiry-form button {
    width: 100%;
    height: 58px;

    margin-top: 8px;

    background: transparent;

    border: 1px solid #b79b5d;
    border-radius: 8px;

    color: #111;

    font-size: 15px;
    letter-spacing: 6px;

    cursor: pointer;

    transition: all 0.3s ease;
}

.enquiry-form button:hover {
    background: #b79b5d;
    color: white;
}

/* MOBILE */

@media (max-width: 768px) {

    .contact-container {
        flex-direction: column;
        gap: 40px;
    }

    .contact-info,
    .enquiry-form {
        width: 100%;
    }

    .contact-info h2,
    .enquiry-form h2 {
        font-size: 34px;
    }

    .line {
        display: none;
    }

    lightning-combobox {
        display: block;
        margin-bottom: 15px;
    }

    lightning-combobox {
        --slds-c-input-radius-border: 8px;
    }
}